body {
    font-family: 'Bebas Neue';
    margin: 0px;
    padding: 0px;
}

#clockBox {
    background-color: #000000;
    color: #FFFFFF;
    height: 58px;
    padding: 0px;
    width: 160px;
    -webkit-box-shadow: 7px 13px 21px 3px rgba(0,0,0,0.85);
    -moz-box-shadow: 7px 13px 21px 3px rgba(0,0,0,0.85);
    box-shadow: 7px 13px 21px 3px rgba(0,0,0,0.85);
}

#clockTime {
    font-size: 25pt;
    letter-spacing: .5px;
    line-height: 0.65em;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 12px;
    text-align: center;
}

#clockDate {
    font-size: 1.1em;
    letter-spacing: 1.2px;
    margin-top: 0px;
    padding-top: 0px;
    text-align: center;
}